* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
header {
  background: white;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.mu-logo {
  height: 50px;
}
.mu-moblie-img {
  position: absolute;
  top: 100px;
  right: 5vw;
}
.mu-navbar-desktop,
.mu-navbar-moblie {
  z-index: 1;
}
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #ff7f2aff;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.mu-heading {
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-size: 60px;
  background: -webkit-linear-gradient(#00d455ff, #00aad4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mu-subheading {
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  font-family: "Tillana", cursive;
}
.mu-section-heading {
  margin: 0;
}
.mu-container-text {
  padding: 0;
  height: 100vh;
}
.mu-button {
  border: 1px solid #ff7f2aff;
  padding: 8px !important;
  color: #ff7f2aff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 15px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  background: transparent;
}
.mu-button:hover {
  background: #ffffff;

  color: #ffffff;
  background: #ff7f2aff;
}
.mu-button:nth-child(2) {
  margin-left: 30px;
}
#mu-about,
.footer {
  background: url(../bg-section.svg);
  background-size: cover;
}
.mu-padding-tb {
  padding-top: 80px;
  padding-bottom: 80px;
}
.mu-padding-tbig {
  padding-top: 160px;
  padding-bottom: 80px;
}
.mu-character-container {
  padding: 20px !important;
  transition: box-shadow 0.5s ease-in-out;
}
.mu-character-container:hover {
  -webkit-box-shadow: 0px 5px 13px 0px rgb(25, 26, 27);
  -moz-box-shadow: 0px 5px 13px 0px rgb(25, 26, 27);
  box-shadow: 0px 5px 13px 0px rgb(25, 26, 27);
}
.mu-character-name {
  margin: 0 20px 0 0px;
  font-weight: 500;
  font-size: 20px;
}
.mu-character-img {
  height: 45px;
}
.mu-character-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  font-family: "Tillana", cursive;
}
.section-text {
  color: #707070;
}

.mu-technology-img,
.mu-programs-img {
  width: 55px;
  transition: all 0.5s ease-in-out;
}
.mu-technology-img:hover,
.mu-programs-img:hover {
  transform: rotate(360deg);
}
.technology-title {
  font-size: 12px;
  font-weight: 500;
  font-family: "Tillana", cursive;
  font-weight: 700;
}
.mu-projects {
  background: url(../bg-section-flip.svg);
  background-size: cover;
}
.content {
  position: relative;
  overflow: hidden;
}
.content .content-overlay {
  background: rgba(48, 177, 207, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
}
.content-image {
  width: 100%;
}
.content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content-details h3 {
  font-family: "Tillana", cursive;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
}
.fadeIn-bottom {
  top: 80%;
}
.fadeIn-left {
  left: 20%;
}
.fadeIn-right {
  left: 80%;
}
.mu-animation-desc {
  font-family: "Tillana", cursive;
}
@media only screen and (max-width: 576px) {
  header {
    background: white;
  }
}
@media only screen and (max-width: 768px) {
  .mu-padding-tbig {
    padding-top: 80px;
  }
}
.mu-animation {
  height: 150px;
  width: 150px;
}
.mu-loader {
  height: 100vh !important;
}
#mu_app {
  display: none;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: rgba(48, 177, 207);
  width: 0%;
}

.content-bar {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}
