* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  color: #9e9e9e;
}
b {
  color: #ff7ab0;
}
p {
  margin-bottom: 0;
}
header {
  background: white;
  height: 100vh;
  width: 100%;
}
.mu-about,
.mu-projects,
.mu-workflow {
  z-index: 100;
}
.mu-arrow-container {
  height: 100vh;
}
.mu-arrow-down {
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin-bottom: 32px;
  animation: liftingSVG 2s infinite;
}
.mu-logo {
  height: 40px;
  cursor: pointer;
  transition: filter 0.3s ease-in;
}
.mu-logo:hover {
  filter: brightness(120%);
}
.navbar {
  box-shadow: none;
}
.mu-moblie-img {
  animation: liftingSVG 3s infinite;
}
@-webkit-keyframes liftingSVG {
  0% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 10px;
  }
}
.mu-navbar-desktop,
.mu-navbar-moblie {
  z-index: 1000000;
}
.mu-mobile-link {
  padding-left: 0 !important;
}
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.animated-icon1 span {
  background: rgba(48, 177, 207);
}
.animated-icon2 span {
  background: #e3f2fd;
}
.animated-icon3 span {
  background: #f3e5f5;
}
.animated-icon1 span:nth-child(1) {
  top: 0px;
}
.animated-icon1 span:nth-child(2) {
  top: 10px;
}
.animated-icon1 span:nth-child(3) {
  top: 20px;
}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.mu-heading {
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-size: 80px;
  background: -webkit-linear-gradient(#00d455ff, #00aad4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mu-subheading {
  font-weight: 400;
  line-height: 1.5;
  color: #595959;
}
.mu-section-heading {
  font-size: 48px;
  font-weight: 500;
}
.mu-section-subtext {
  color: #bdbdbd;
  font-size: 14px;
}
.mu-container-about:not(:first-child) {
  color: #bdbdbd;
  font-weight: 500;
  line-height: 35px;
}
.mu-section-heading {
  margin: 0;
}
.mu-container-text {
  height: 85vh;
  margin-top: 50px;
  left: 100px;
}
.mu-button:nth-child(2) {
  margin-left: 30px;
}
.mu-about,
.footer {
  background: #333;
}
.footer {
  z-index: 100;
}
.mu-technolgy-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  filter: grayscale(80%);
  transition: filter 0.3s ease-in-out;
}
.mu-technolgy-icon:hover {
  filter: grayscale(0%);
}
.mu-social-footer {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}
.mu-copyright {
  font-size: 12px;
}
.mu-character-img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.svg-main:hover .svg-pink {
  fill: #ffb1d0;
}
.svg-main:hover .svg-blue {
  fill: #9ccff4;
}
.svg-main:hover .svg-yellow {
  fill: #f6df5a;
}
.mu-social-footer:hover .git {
  fill: #000000;
}
.mu-social-footer:hover .linkedin {
  fill: #007bb6;
}
.mu-character-description {
  line-height: 1.5;
  padding-left: 15px;
}
.section-text {
  color: #707070;
  font-weight: 500;
}
.mu-projects {
  background: #cbe37f;
}
.mu-copyright {
  font-size: 12px;
}
.content {
  position: relative;
  overflow: hidden;
}
.content .content-overlay {
  background: rgba(172, 208, 45, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
}
.content-image {
  width: 100%;
}
.content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
}
.fadeIn-bottom {
  top: 80%;
}
.fadeIn-left {
  left: 20%;
}
.fadeIn-right {
  left: 80%;
}
.mu-workflow-heading {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.mu-animation-desc {
  font-weight: 500;
  color: #595959;
}
.mu-animation {
  width: 150px !important;
}
nav ul li a.current {
  color: #30b1cf;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  header {
    background: white;
  }
  .mu-container-text {
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .mu-container-text {
    left: 0;
    right: 0;
  }
}
.mu-hidden {
  visibility: hidden;
}
.mu-loader {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
  z-index: 100000000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mu-app {
  display: none;
}
.margin-left {
  margin-left: -9px !important;
}
.mu-top {
  z-index: 1000;
}
.mu-phone-icon {
  height: 80px;
  cursor: pointer;
}
